* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: all 1s;
}

body {
  padding-bottom: 50rem;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: #121212;
  color: #fff;
  font-weight: 600;
}

header > p {
  text-align: justify;
  max-width: 550px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

main > img {
  width: 150px;
}

form {
  display: flex;
  flex-direction: column;
}

div.input {
  border: 1px solid #121212;
  border-radius: 2rem;
  padding: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

input[type="text"] {
  outline: none;
  border: transparent;
  border-radius: 2rem;
  font-size: 14pt;
}
input[type="submit"] {
  padding: 2rem;
  outline: none;
  border: 1px solid #121212;
  border-radius: 2rem;
  width: 450px;
  font-size: 14pt;
  cursor: pointer;
  background: rgb(163, 61, 163);
  color: #fff;
  font-weight: 600;
}
input[type="submit"]:hover {
  opacity: 0.7;
}

.res {
  font-size: 15pt;
  margin-top: 4rem;
}
