* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 1s;
}

header {
  background: rgb(7, 7, 7);
  color: #fff;
  padding: 2em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  gap: 3em;
  padding-bottom: 10em;
}

#pedra {
  border: 1px solid #000;
  padding: 1.5em;
  width: 450px;
  text-align: center;
  font-size: 15pt;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
}
#papel {
  border: 1px solid #000;
  padding: 1.5em;
  width: 450px;
  text-align: center;
  font-size: 15pt;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
}
#tesoura {
  border: 1px solid #000;
  padding: 1.5em;
  width: 450px;
  text-align: center;
  font-size: 15pt;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
}

/*HOVERS*/

#pedra:hover {
  scale: 1.1;
}
#papel:hover {
  scale: 1.1;
}
#tesoura:hover {
  scale: 1.1;
}

input[type="submit"] {
  border: transparent;
  padding: 2em;
  border-radius: 2em;
  background-color: #904ba0;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: 450px;
}
input[type="submit"]:hover {
  transform: scale(1.1);
}

.act {
  opacity: 0.5;
  background: #482350;
  color: #fff;
}

button {
  padding: 2em;
  border: transparent;
  padding: 2em;
  border-radius: 2em;
  background-color: #904ba0;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: 450px;
}
button:hover {
  transform: scale(1.1);
}

/*MEDIA QUERIES*/

@media (max-width: 750px) {
  #pedra,
  #papel,
  #tesoura {
    width: 350px;
  }
  span {
    text-align: center;
  }
}
