* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.8s;
}

body {
    background: rgb(10, 10, 10);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    gap: 1em;
    font-weight: 600;
    color: white;
}

header h1 {
    font-size: 29pt;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    max-width: 400px;
    margin: auto;
    border-radius: 3em;
    padding: 3em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

form input {
    appearance: textField;
    border: none;
    font-size: 13pt;
}
form input:focus {
    outline: none;
}

.nome,.sal,.anos {
    border: 1px solid black;
    padding: 2em;
    border-radius: 1em;
}

label {
    display: flex;
    gap: 1em;
}

input[type="submit"] {
    padding: 2em;
    background: green;
    color: #fff;
    font-weight: 600;
    border-radius: 2em;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: rgb(64, 83, 35);
    transform: scale(1.1);
}

.res {
    font-size: 17pt;
    font-weight: 600;
    padding: 1em;
}

