@media (max-width: 750px) {
    header > p {
        font-size: 10pt;
    }

    ul > li {
        font-size: 10pt;
    }

    img {
        width: 140px;
        margin-top: 4em;
        
    }

    .dias,.km {
        width: 350px;
    }

    input[type=number] {
        width: 250px;
    }

    .res {
        width: 350px;
    }
}