* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 1s;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background: #080808;
}

header > h1 {
   font-size: 15pt;
   color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
    padding-bottom: 10em;
}

form {
    display: flex;
    flex-direction: column;
}

input[type = 'number'] {
    padding: 2em;
    margin-bottom: 2em;
    border: 1px solid black;
    border-radius: 2em;
    outline: none;
    font-size: 14pt;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove setas no Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.res {
    width: 250px;
    padding: 2em;
    border-radius: 2em;
    border: 1px solid black;
    text-align: center;
    font-size: 14pt;
}

input[type='submit'] {
    margin: 2em;
    padding: 1em;
    border: 1px solid black;
    background: purple;
    cursor: pointer;
    border-radius: 2em;
    color: #fff;
    font-size: 12pt;
}
button:hover {
   background: #080808;
   color: #fff;
}