* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 1s;

}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    border-bottom: 1px solid #000;
}

header > p {
    max-width: 450px;
    text-align: justify;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo > img {
    margin-top: 1.2em;
    margin-bottom: 2em;
    max-width: 150px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.altura,.peso {
    width: 450px;
    border: 2px solid black;
    border-radius: 2em;
    padding: 2em;
    margin-bottom: 2em;
    text-align: center;
    font-weight: 600;
}

input[type = text]{
    border: transparent;
    padding: 2em;
    outline: none;
    font-size: 15pt;
    
}
input[type = submit],.reset {
    padding: 2em;
    border: 1px solid #000;
    border-radius: 2em;
    cursor: pointer;
    width: 250px;
    font-weight: 600;
    background: rgb(121, 44, 121);
    color: white;
    margin-bottom: 2em;
}
input[type = submit]:hover,.reset:hover {
   transform: scale(1.1);
}

.res {
    position: relative;
    font-size: 15pt;
    margin-top: 5em;
    border: 2px solid black;
    padding: 2em;
    width: 450px;
    border-radius: 2em;
    text-align: center;
    right: 5000px;
}
.res.act {
    right: 0;
}

